p{
    color: var(--second-color);
}
ol, ul{
color: var(--second-color)
}
h1, h2{
color: var(--second-color);
}
a{
    text-decoration: none;
    color: var(--second-color);
    font-size: larger;
}
.wrapper{
    background-color: var(--second-color);
   /* background-color: linear-gradient(90deg, var(--main-color) 0%, var(--main-color) 61%, var(--second-color) 61%, var(--second-color) 100%);  */
width: 1409px;
height: 1555px;
 padding-top: 100px;
}
.container{
 background-color: var(--main-color);   
 margin: 0 auto;

 width: 1200px;
 height: 1400px;
}
.button{
    display: flex;
margin-left: 400px;
margin-left: 500px;
}
.change-thema{
    display: block;
width: 200px;
height: 55px;
background-color: var(--second-color);
}
.more_informaition{
background-color: var(--second-color);
color: var(--main-color);
margin-left: 200px;
}
.button-link{
text-decoration: none;
color: var(--main-color);
font-size: larger;
}
.light-thema{
--main-color: #e5e5e5;
--second-color: #272727;
}
.dark-thema{
--main-color: #272727;
--second-color:  #e5e5e5;
}